<div style="margin-top: 80px;">

  <div class="wrapper fadeInDown">
      <div id="formContent">
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form id="form" #userForm="ngForm" (ngSubmit)="onSubmit(UserName.value)">
          <input type="text" #UserName ngModel name="UserName" placeholder="Username" id="usuario" class="fadeIn second"  placeholder="Usuario">
          <button type="submit" class="fadeIn fourth btn-login">Entrar</button>
        </form>
    
      </div>
    </div>
</div>