<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
    </div>
  </nav>

  <div class="container">
      
      <div class="four-oh-four"><h1>401 (Unauthorized)</h1></div>
            
      <div class="warning">            
          <h2>Permissão perdida</h2>
          <p>Você perdeu autorização de consumir a WebAPI refaça o login para ser liberado novamente.</p>
      </div>     

  </div>